@model Contoso.Models.Departments
@{
    ViewBag.Title = "GetHighestBudgetDepartment";
}


<h2>GetHighestBudgetDepartment:@Model.Name</h2>
@*<h2>GetHighestBudgetDepartment:@ViewBag.HighestBudgetDepartment.Name</h2>*@

